<div class="flex flex-column p-3 md:p-8">
  <div class="flex justify-content-between align-content-center">
    <div class="flex flex-column gap-2">
      <h2 class="text-3xl font-bold m-0">Categorias</h2>
      <p class="text-md font-bold text-gray-600 m-0">
        {{ categories.content ? categories.totalElements : 0 }} encontrados
      </p>
    </div>
    <p-button
      class="hidden md:block"
      label="Cadastrar novo"
      icon="pi pi-plus"
      (click)="openModal()"
    ></p-button>
    <p-button
      class="block md:hidden"
      icon="pi pi-plus"
      (click)="openModal()"
    ></p-button>
  </div>
  <p-table
    [value]="categories.content"
    [tableStyle]="{ 'min-width': '50rem' }"
    onPageChange="onPageChange($event)"
    class="pt-8"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%">Descrição</th>
        <th style="width: 25%">Data de atualização</th>
        <th style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.descricao }}</td>
        <td>{{ category.dataAtualizacao | date : "dd/MM/yyyy" }}</td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-pencil"
            (click)="openModalToUpdate(category)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    #paginator
    [rows]="rows"
    [totalRecords]="categories.totalElements"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>

<p-dialog
  [header]="this.form.get('id')?.value ? 'Alterar categoria' : 'Cadastrar categoria'"
  [(visible)]="visibleModal"
  [modal]="true"
  styleClass="md:w-6"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="form" (submit)="saveCategory()">
    <div class="field p-fluid mb-3">
      <input
        pInputText
        id="descricao"
        placeholder="Descrição da categoria"
        formControlName="descricao"
        aria-describedby="descricao-help"
        class="w-full"
      />
    </div>

    <div class="flex justify-content-end">
      <p-button class="" label="Salvar" type="submit"></p-button>
    </div>
  </form>
</p-dialog>
<p-toast></p-toast>
